/* line 1, ../sass/_chap1.scss */
#gallerie {
  margin: 0 auto;
  width: 1000px;
  height: 535px;
  position: relative;
}
/* line 7, ../sass/_chap1.scss */
#gallerie #ruban {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}
/* line 12, ../sass/_chap1.scss */
#gallerie #ruban img {
  display: block;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
/* line 20, ../sass/_chap1.scss */
#gallerie #ecran {
  position: absolute;
  top: 0;
  right: 0;
}
